.table {
    color: black;
    background-color: white;
    opacity: 80%;
    border: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.rating {
    text-shadow: 0.4px 0.4px white;
    padding-left: 1px;
}

.average {
    text-shadow: 0.6px 0.6px black;
}